.modal {
	display: block; 
}

small, .small {
    font-size: 85%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;  
}

a {
	cursor: pointer;
    color:#ba2336;
    font-weight:900;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight:900;
}

.white {
    color: white;
}

.panel-default {
    border-color: #c1bdbe;
}

legend {
    border-bottom: 1px solid white;
}

.table-bordered>tbody>tr>td {
    border: 1px solid #c1bdbe;
}

.modal-dialog{
	margin: 0px;
	width: 100%;
	height: auto;
	padding: 0;
}

.modal-content {
	height: 100%;
	border-radius: 0;
    background:#dfdfdf;
}

.modal.fade.in{
  background:gray;
}

hr {
    border-top: 1px solid #e4a9af;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    height:50px;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    background-color: #ba2336;
    color:white;
}



.navbar-header .navbar-toggle {
    float:left;
    margin-top:-10px;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    background-color: #ba2336;
    color:white;
}

.navbar-default .navbar-brand {
    color:white;
}

.navbar-brand {
	float:none;
	margin-left:-60px;
}

/* make colapse buttons always show but need to put id #login-btn to that tag*/
@media (min-width: 768px) {
  #fix-btn {
    display: block;
  }

  #sesion.collapse {
    display: none !important;
  }
}

/* ================================ carousel ================================ */

.carousel-inner .item img {
    height: 250px !important;
} 

/* =============================== file input =============================== */

.my-drop-zone { border: dotted 3px lightgray; }
.ng-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

html, body { 
    height: 100%;
}

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    /*height: 100px;*/
    margin: 6px 0 0 6px;
}

.fileinput-button 
{
    position: relative;
    overflow: hidden;
}

.fileinput-button input 
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

.canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    /*height: 100px;*/
    margin: 6px 0 0 6px;
}
/* =============================== ========== =============================== */

