<!-- public/html/partials/modal_edit_trip_add_place.html -->

<!-- NavBar for Modal-->
<nav class="navbar navbar-static-top navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" id="fix-btn" style="height:40px; width:80px" ng-click="cancel()">
			Cancel
		</button>    
		<a class="navbar-brand" href="#"><b>Add Place</b></a> 
	</div>
</nav>
<!-- Modal -->
<!--div class="modal-header"></div-->
<div class="modal-body animated slideInLeft" ng-controller="modalEditTripAddPlaceCtrl">
	<fieldset ng-disabled="isDisabled">
		<form role="form">
			<!-- Search Trip -->
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
					<input type="text" ng-click="open()" class="form-control" placeholder='Please Select Place' value="{{name}}">
				</div>
				<br>
				<label for="Date">Figure(s)</label><br>





	               

	                <div class="col-md-12" style="margin-bottom: 40px">
	                
	                    <span class="btn btn-primary fileinput-button">
	                        <i class="icon-plus icon-white"></i>
	                        <input ng-file-select type="file" multiple  />
	                        <span>
	                            <span class="glyphicon glyphicon-plus-sign"></span> Add files &nbsp
	                        </span>
	                    </span>
	                    
	                

	                    <table class="table">
	                        <thead>
	                            <tr>
	                                <th width="80%">Name</th>
	                                <th>Actions</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="item in uploader.queue">
	                                <td>
	                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 100 }"></div>
	                                </td>
	                                <td nowrap>
	                                    <br>
	                                    <button type="button" class="btn btn-danger btn-s" ng-click="item.remove()">
	                                        <span class="glyphicon glyphicon-trash"></span>
	                                    </button>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>

	                </div>





				<br>

				<div ng-controller="timePickerCtrl">
					<label for="Date">Time Begin</label><br>
					<center>
						<div ng-model="timeBegin" ng-change="beginTimeChanged()" style="display:inline-block">
							<timepicker hour-step="hstep" minute-step="mstep" show-meridian="beginTimeIsMeridian"></timepicker>
						</div>
					</center>
					<br>
					<label for="Date">Time End</label><br>
					<center>
						<div ng-model="timeEnd" ng-change="endTimeChanged()" style="display:inline-block">
							<timepicker hour-step="hstep" minute-step="mstep" show-meridian="endTimeIsMeridian"></timepicker>
						</div>
					</center>
				</div>

				<br>
				<label for="placeDesc">Place Description</label>
				<textarea type="placeDesc" class="form-control" id="placeDesc" rows="3" placeholder="Enter Place Description" ng-model="description"></textarea>
			</div>
			<br>
		</form>

		<hr>
		<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="confirmPlace()">Add New Place</button>
	</fieldset>
	
</div>
<!-- <div class="modal-footer" ng-controller="newtrip02Ctrl">
	<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="confirmPlace()">Done</button>
</div>