<!-- public/html/partials/modal_edit_place_foursquare.html -->

<!-- NavBar for Modal-->
<nav class="navbar navbar-static-top navbar-default" role="navigation" style="font-family: 'Roboto'">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" id="fix-btn" style="height:40px; width:80px" ng-click="cancel()">
			Cancel
		</button>    
		<a class="navbar-brand" href="#" style="font-size:22px;"><b>Select Place</b></a> 
	</div>
</nav>
<!-- Modal -->
<!--div class="modal-header"></div-->
<div class="modal-body animated slideInLeft" ng-controller="modalEditPlaceFoursquareCtrl" style="font-family: 'Roboto'">
	<form role="form">
		<div class="form-group">
			<label for="placeName">Place Name</label>
			<input type="placeName" class="form-control" id="placeName" placeholder="Enter Place Name" ng-model="input.name">
		</div>
		<div class="form-group">
			<label for="provinceName">Province Name</label>
			<select class="form-control" ng-model="input.province" placeholder="Choose Province Name">
				<option>กรุงเทพมหานคร</option>
				<option>กระบี่</option>
				<option>กาญจนบุรี</option>
				<option>กาฬสินธุ์</option>
				<option>กำแพงเพชร</option>
				<option>ขอนแก่น</option>
				<option>จันทบุรี</option>
				<option>ฉะเชิงเทรา</option>
				<option>ชลบุรี</option>
				<option>ชัยนาท</option>
			 	<option>ชัยภูมิ</option>
				<option>ชุมพร</option>
				<option>เชียงราย</option>
				<option>เชียงใหม่</option>
				<option>ตรัง</option>
				<option>ตราด</option>
				<option>ตาก</option>
				<option>นครนายก</option>
				<option>นครปฐม</option>
				<option>นครพนม</option>
				<option>นครราชสีมา</option>
				<option>นครศรีธรรมราช</option>
				<option>นครสวรรค์</option>
				<option>นนทบุรี</option>
				<option>นราธิวาส</option>
				<option>น่าน</option>
				<option>บึงกาฬ</option>
				<option>บุรีรัมย์</option>
				<option>ปทุมธานี</option>
				<option>ประจวบคีรีขันธ์</option>
				<option>ปราจีนบุรี</option>
				<option>ปัตตานี</option>
				<option>พระนครศรีอยุธยา</option>
				<option>พังงา</option>
				<option>พัทลุง</option>
				<option>พิจิตร</option>
				<option>พิษณุโลก</option>
				<option>เพชรบุรี</option>
				<option>เพชรบูรณ์</option>
				<option>แพร่</option>
				<option>พะเยา</option>
				<option>ภูเก็ต</option>
				<option>มหาสารคาม</option>
				<option>มุกดาหาร</option>
				<option>แม่ฮ่องสอน</option>
				<option>ยะลา</option>
				<option>ยโสธร</option>
				<option>ร้อยเอ็ด</option>
				<option>ระนอง</option>
				<option>ระยอง</option>
				<option>ราชบุรี</option>
				<option>ลพบุรี</option>
				<option>ลำปาง</option>
				<option>ลำพูน</option>
				<option>เลย</option>
				<option>ศรีสะเกษ</option>
				<option>สกลนคร</option>
				<option>สงขลา</option>
				<option>สตูล</option>
				<option>สมุทรปราการ</option>
				<option>สมุทรสงคราม</option>
				<option>สมุทรสาคร</option>
				<option>สระแก้ว</option>
				<option>สระบุรี</option>
				<option>สิงห์บุรี</option>
				<option>สุโขทัย</option>
				<option>สุพรรณบุรี</option>
				<option>สุราษฎร์ธานี</option>
				<option>สุรินทร์</option>
				<option>หนองคาย</option>
				<option>หนองบัวลำภู</option>
				<option>อ่างทอง</option>
				<option>อุดรธานี</option>
				<option>อุทัยธานี</option>
				<option>อุตรดิตถ์</option>
				<option>อุบลราชธานี</option>
				<option>อำนาจเจริญ</option>
			</select>
		</div>
		<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="findPlace()">
			<strong>Search</strong>
		</button>
		<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="findNearbyPlace()">
			<strong>Search Nearby</strong>
		</button>
		<br>
		<center>
			<i class="fa fa-spinner fa-spin fa-4x" ng-show="loading"></i>
		</center>
	</form>
	<p></p>
	<div class="form-group">
		
		<!-- <label for="Places">Listed Place</label>		 -->
		<div class="list-group">
			<a ng-repeat="place in foursqplaces" class="list-group-item" ng-click="selectPlace(place)">
				{{place.name}} <br>
<!-- 				{{place.id}} <br>
				{{place.location.lat}} <br>
				{{place.location.lng}} <br> -->
			</a>
		</div>
	</div>

</div>
		<!-- <div class="modal-footer">
			<button type="button" class="btn btn-primary btn-lg btn-block">Done</button>
		</div>