<title>Profile</title>

<div class="animated slideInLeft" ng-controller="modalProfileCtrl" style="padding:0px;font-family: 'Roboto'">	

<!-- NavBar for Modal-->
<nav class="navbar navbar-static-top navbar-default" role="navigation" >

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" id="fix-btn" style="height:40px; width:80px" ng-click="cancel()">
			Cancel
		</button>    
		<a class="navbar-brand" href="#" style="font-size:24px;font-family: 'Roboto';font-weight:900;"><b>Profile</b></a> 
	</div>	
</nav>	

		<!-- profile photo -->
		<center><img src="{{profile.profile_figure}}"  alt="{{profile.profile_figure}}" class="img-circle"></center>
		<!-- profile name -->	
		<center><strong><h2>{{profile.first_name}} {{profile.last_name}}</h2></strong> </center>

 	<div class="container-fluid">	
 		<!-- edit button -->
		<button type="button" ng-hide="checkIsOwner()" class="btn btn-default btn-lg btn-block" ng-click="following()" style="background-color:#ba2336;color:white;">
			<strong>{{followingstate}}</strong>
		</button>
	</div>
	<p>
	<!-- stats -->
	<table class="table table-bordered" style="text-align:center;padding:0px;" >
		<tr>
			<td>
				<strong>{{profile.followers_count}}
				<br>					
				FOLLOWERS
				</strong>					
			</td>
			<td>
				<strong>{{profile.followings_count}}
				<br>
				FOLLOWING
				</strong>					
			</td>
		</tr>
		<tr>
			<td>
				<strong>{{profile.trips_count}}
				<br>
				TRIPS	
				</strong>				
			</td>
			<td>
				<strong>{{profile.bookmarks_count}}
				<br>
				BOOKMARKS	
				</strong>				
			</td>				
		</tr>
	</table>		
	<div class="container">
		<b>History</b><p>
		 <div ng-repeat="activityLog in activityLogs">
		 <div class="row">
		 	<div class="col-xs-1 col-sm-1">
		 		<!-- author photo -->
		 		<img border="0" class="img-circle" src="{{activityLog.user_id.profile_figure}}" width="40" height="40">
		 	</div>

		 	<div class="col-xs-8 col-sm-8" style="margin-left:5%">

		 		<!-- user + activity -->
		 		<span >
		 			<a style="color:black">{{activityLog.user_id.first_name}} {{activityLog.user_id.last_name}}</a>  {{activityLog.act_code}}
		 		</span>						  		
		 		<br>
		 		<!-- trip's name -->
		 		<span style="margin-left:10%" >
		 			<a ng-click="readmore(activityLog.trip_id)">{{activityLog.trip_id.title}}</a>
		 		</span>						  		

		 	</div>
		 	<div class="col-xs-2 col-sm-2">
		 		<!-- icon & time -->
		 		<i class="pull-right glyphicon glyphicon-time">{{activityLog.created}}</i>
		 	</div>
		 </div>
		 <p></p>

		 <hr>
		</div>
	</div>
</div>
