<title>My trip</title>
<div class="container-fluid animated slideInLeft" style="font-family: 'Roboto'">	
	
	<br>
	<!-- Add -->
	<div>
		<button class="btn btn-default" ng-click="open()" style="background-color:#ba2336;color:white;">
			<span class="glyphicon glyphicon-plus"></span><strong> Add New Trip</strong> 
		</button>
	</div>
	<br>
	<!-- List Trips -->
	
	<tabset>
		<tab heading="Publish {{publishCount}}" style="width:50%">
			<a ng-repeat="trip in trips[2]" class="list-group-item" ng-click="open(trip)">
				{{trip.title}}
			</a>
		</tab>
		<tab heading="Draft {{draftCount}}" style="width:50%">
			<a ng-repeat="trip in trips[1]" class="list-group-item" ng-click="open(trip)">
				{{trip.title}}
			</a>
		</tab>
</tabset>

</div>