<title>My trip</title>
<div class="container-fluid animated slideInLeft">	
	<!-- Search Trip -->
	<div class="input-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
		<input ng-model="query" type="text" class="form-control" placeholder="Search Trip Title">
	</div>
	<br>
	<!-- Add -->
	<div>
		<button class="btn btn-success" ng-click="open()">
			<span class="glyphicon glyphicon-plus"></span> Add New Trip
		</button>
	</div>
	<br>
	<!-- List Trips -->
	
	<tabset>
		<tab heading="Publish" style="width:50%">
			<a ng-repeat="trip in trips[2] | filter:query" class="list-group-item" ng-click="open(trip)">
				{{trip.title}}
			</a>
		</tab>
		<tab heading="Draft" style="width:50%">
			<a ng-repeat="trip in trips[1] | filter:query" class="list-group-item" ng-click="open(trip)">
				{{trip.title}}
			</a>
		</tab>
</tabset>

</div>