<!-- NavBar for Modal-->
<nav class="navbar navbar-static-top navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" id="fix-btn" style="height:40px; width:80px" ng-click="cancel()">
			Cancel
		</button>    
		<a class="navbar-brand" href="#"><b>Select Place</b></a> 
	</div>
</nav>
<!-- Modal -->
<!--div class="modal-header"></div-->
<div class="modal-body animated slideInLeft" ng-controller="newtrip03Ctrl">
	<form role="form">
		<div class="form-group">
			<label for="placeName">Place Name</label>
			<input type="placeName" class="form-control" id="placeName" placeholder="Enter Place Name" ng-model="input.name">
		</div>
		<div class="form-group">
			<label for="provinceName">Province Name</label>
			<select class="form-control" ng-model="input.province">
				<option>กรุงเทพมหานคร</option>
				<option>Nonthaburi</option>
				<option>เชียงใหม่</option>
				<option>เชียงราย</option>
				<option>หาดใหญ่</option>
			</select>
		</div>
		<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="findPlace()">Search</button>
	</form>
	<div class="form-group">
		<br><br>
		<!-- <label for="Places">Listed Place</label>		 -->
		<div class="list-group">
			<a ng-repeat="place in foursqplaces" class="list-group-item" ng-click="selectPlace(place)">
				{{place.venue.name}} <br>
				{{place.venue.id}} <br>
				{{place.venue.location.lat}} <br>
				{{place.venue.location.lng}} <br>
			</a>
		</div>
	</div>

</div>
		<!-- <div class="modal-footer">
			<button type="button" class="btn btn-primary btn-lg btn-block">Done</button>
		</div>