
<title>Timeline</title>

<div class="container-fluid animated slideInLeft" id="timeline" >	




	
<!-- 	<div>
		<img border="0" class="img-circle" src="../img/Skipper_2.jpg" alt="{{group.title}} photo" width="30" height="30">
		<small><font color="black"><a>Captain Skipper</a></font> follow trip</small> 
		<br>(ทริประยองฮิ)
	</div>
 -->
 <div ng-repeat="activityLog in activityLogs">
	 <div class="row">
	 	<div class="col-xs-1 col-sm-1">
	 		<!-- author photo -->
	 		<a ng-click="goProfile(activityLog.user_id._id)">
	 			<img border="0" class="img-circle" src="{{activityLog.user_id.profile_figure}}" width="40" height="40">
	 		</a>
	 	</div>

	 	<div class="col-xs-9 col-sm-9" style="margin-left:5%">

	 		<!-- user + activity -->
	 		<span >
	 			<a  style="color:black" ng-click="goProfile(activityLog.user_id._id)">{{activityLog.user_id.first_name}} {{activityLog.user_id.last_name}}</a>  {{activityLog.act_code}}
	 		</span>						  		
	 		<br>
	 		<!-- trip's name -->
	 		<span style="margin-left:10%" >
	 			<a ng-click="readmore(activityLog.trip_id)">{{activityLog.trip_id.title}}</a>
	 		</span>						  		

	 	</div>
	 	<div class="col-xs-1 col-sm-1" style="font-family: 'Roboto'">
	 		<!-- icon & time -->
	 		<i class="pull-right glyphicon glyphicon-time">{{activityLog.created}}</i>
	 	</div>
	 </div>
	 <p></p>

	 <!-- photo -->
	 <div >
	 	<div style="height: 10%">
	 		
		 		<carousel interval="myInterval">
		 			<slide ng-repeat="place in activityLog.trip_id.places" active="place.active">
		 				<a ng-click="readmore(activityLog.trip_id)">
		 				<img ng-src="{{place.cover_figure}}" style="margin:auto;">
		 				</a>
		 				<div class="carousel-caption">
		 					<!-- <h4>place {{$index+1}}</h4> -->
		 					<p>place {{$index+1}} : {{place.foursquare.name}}</p>
		 				</div>
		 			</slide>
		 		</carousel>
		 	
	 	</div>
	 </div>
	 <hr>
</div>

<!-- <span id="suggestFriend"></span> -->

<button type="button" class="btn btn-default btn-lg btn-block" ng-click="load()" ng-show="loadShow">Load More</button>

</div>	
